{% include base_path %}

<div itemscope itemtype="https://schema.org/Person">
  <div class="author__avatar">
    <img src="{{ author.avatar | default: site.author.avatar | prepend: '/images/' | prepend: base_path }}" class="author__avatar" alt="{{ site.author.name }}">
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ site.author.name }}</h3>
    <p class="author__bio">{% include i18n-text.html key="profile.bio" %}</p>
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{% include i18n-text.html key="profile.follow" %}</button>
    <ul class="author__urls social-icons">
      <li class="author__desktop"><i class="fas fa-fw fa-location-dot icon-pad-right" aria-hidden="true"></i>{% include i18n-text.html key="profile.location" %}</li>
      <li class="author__desktop"><i class="fas fa-fw fa-building-columns icon-pad-right" aria-hidden="true"></i>{% include i18n-text.html key="profile.employer" %}</li>
      <li><a href="mailto:{{ site.author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>{% include i18n-text.html key="profile.email" %}</a></li>
      <li><a href="https://github.com/{{ site.author.github }}"><i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>GitHub</a></li>
      <li><a href="https://huggingface.co/{{ site.author.huggingface }}"><i class="fas fa-fw fa-face-smile icon-pad-right" aria-hidden="true"></i>Hugging Face</a></li>
      <li><a href="https://instagram.com/{{ site.author.instagram }}"><i class="fab fa-fw fa-instagram icon-pad-right" aria-hidden="true"></i>Instagram</a></li>
      <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}"><i class="fab fa-fw fa-linkedin icon-pad-right" aria-hidden="true"></i>LinkedIn</a></li>
    </ul>
  </div>
</div>
