---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}
    
    <h3>Visitors of this website come from...</h3>
    <a href="https://mapmyvisitors.com/web/1byfl" title="Visit tracker">
      <img 
        src="https://mapmyvisitors.com/map.png?d=9gknUyUgqkQAxF4Yt2d6k1kSXmwaRVeIcQYKkuyjGdU&cl=ffffff" 
        width="600" 
        height="400" 
        alt="Visitor Map"
      />
    </a>
    
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
